<mat-toolbar color="primary"></mat-toolbar>
<div class="margin" layout="row" layout-align="center start" layout-fill>
    <div flex-gt-xs="70" flex-xs="90">
        <div *ngIf="this.inGame && this.card">
            <app-card [card] = "this.card"
                      [synIndex] = "this.synIndex"
                      [antIndex] = "this.antIndex"
                      [genIndex] = "this.genIndex"
                      [exIndex] = "this.exIndex"
                      [selected] = "this.selectedHints"
                      [hideSelected] = "true"></app-card>

            <mat-chip-list class="score">
                <mat-chip class="score-chip" selected="true"> Score: {{this.points}}</mat-chip>
            </mat-chip-list>

           <div>
               <span class="emoji">
               <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
               <i class="em em-blush"*ngIf="this.happy"></i>

               <i class="em em-bowtie"*ngIf="this.smile"></i>

               <i class="em em-clap"*ngIf="this.laughing"></i>

               <i class="em em-plus1"*ngIf="this.smart"></i>
               </span>
           </div>

        </div>
        <div *ngIf="!this.inGame">
            <mat-card>
                <mat-card-title>Join Game</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="Game ID" [(ngModel)]="this.gameId">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="this.joinGame()">Join Game</button>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>
