<mat-card>
    <mat-card-title class="card-word">{{ this.word }}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="card-synonym card-line">
            <div class="card-desc">Synonym:</div>
            <div *ngFor="let hint of this.synonym" class="card-cont">{{ hint }}</div>
        </div>
        <div class="card-antonym card-line">
            <div class="card-desc">Antonym:</div>
            <div *ngFor="let hint of this.antonym" class="card-cont">{{ hint }}</div>
        </div>
        <div class="card-general-usage card-line">
            <div class="card-desc">General usage:</div>
            <div *ngFor="let hint of this.general_sense" class="card-cont">{{ hint }}</div>
        </div>
        <div class="card-example-usage card-line">
            <div class="card-desc">Example usage:</div>
            <div *ngFor="let hint of this.example_usage" class="card-cont">{{ hint }}</div>
        </div>
    </mat-card-content>
</mat-card>
