.card-line {
    margin-top: 5px;

}

.card-cont {
    word-wrap: break-word;
    margin: 3px;
}

.card-word {
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
}

.card-view {
    width: auto;
    height: auto;
}
