<div layout-gt-sm="row">
    <div flex-gt-xs="80" flex-offset-gt-xs="10" flex-xs="96" flex-offset-xs="2" *ngIf="this.deck && this.cards">
        <mat-card>
            <mat-card-title id="deck-header">{{ this.deck.name }}</mat-card-title>
            <mat-divider></mat-divider>
            <td-message id="no-cards-message" *ngIf="this.cards.length == 0" label="No Cards"
                        sublabel="This deck is empty, tap + to add cards.">
            </td-message>
        </mat-card>
        <mat-card>
            <div class="deck-cards">
                <mat-card *ngFor="let card of this.cards">
                    <mat-card-title>
                        {{ card.word }}
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <div class="actions">
                        <mat-card-actions *ngIf="this.canEdit() || this.canEditCard(card)">
                            <button mat-icon-button matTooltip="Edit card" (click)="editCard(card)" aria-label="Edit card">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Delete card" (click)="deleteCard(card.id)" aria-label="Delete card">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>


<button mat-fab id="cardDialog" class="deck-fab" matTooltip="Add Card" matTooltipPosition="left"
        (click)="this.openAddDialog()" *ngIf="this.canEdit() || this.isShared">
    <mat-icon class="md-24" aria-label="Add Card">add</mat-icon>
</button>
