#deck-header {
    text-align: center;
}

/* Credit: Liam Koehler, Charlot Shaw and Colin Rabe */
.deck-cards {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-template-rows: auto;
    grid-gap: 3px;
    background-color: transparent;
    color: black;
}


.deck-fab {
    position: fixed;
    bottom: 15px;
    right: 30px;
}
