<h2 mat-dialog-title>Edit Card</h2>
<form #newCardForm="ngForm" (ngSubmit)="editAddedCard();">

    <mat-dialog-content layout="column" class="add-card-form-fields">

        <mat-form-field>
            <input matInput required id="wordInput" #input type="text" placeholder="Word" [(ngModel)]="newCardWord" name="newCardWord">
        </mat-form-field>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>Synonym</mat-expansion-panel-header>
        <mat-form-field>
            <input matInput required id="synInput1" #input type="text" placeholder="Synonym1" [(ngModel)]="newCardSynonym[0]" name="newCardSynonym1">
        </mat-form-field>
        <mat-form-field>
            <input matInput id="synInput2" #input type="text" placeholder="Synonym2" [(ngModel)]="newCardSynonym[1]" name="newCardSynonym2">
        </mat-form-field>
        <mat-form-field>
            <input matInput id="synInput3" #input type="text" placeholder="Synonym3" [(ngModel)]="newCardSynonym[2]" name="newCardSynonym3">
        </mat-form-field>

        <mat-form-field>
            <input matInput id="synInput4" #input type="text" placeholder="Synonym4" [(ngModel)]="newCardSynonym[3]" name="newCardSynonym4">
        </mat-form-field>
        <mat-form-field>
            <input matInput id="synInput5" #input type="text" placeholder="Synonym5" [(ngModel)]="newCardSynonym[4]" name="newCardSynonym5">
        </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>Antonym</mat-expansion-panel-header>
        <mat-form-field>
            <input matInput required id="antInput" #input type="text" placeholder="Antonym" [(ngModel)]="newCardAntonym[0]" name="newCardAntonym">
        </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>General Sense</mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput required id="genInput" #input type="text" placeholder="General Sense" [(ngModel)]="newCardGeneral[0]" name="newCardGeneral">
                    </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>Example Usage</mat-expansion-panel-header><mat-form-field>
            <input matInput required id="exInput" #input type="text" placeholder="Example Usage" [(ngModel)]="newCardExample[0]" name="newCardExample">
        </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button id="new-card-submit" color="primary" #input type="button" [disabled]="!newCardForm.form.valid" type="submit">Save Card</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
